<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
  </head>
  <body>
    <form method="post">
      <label for="Comp">Comp:</label>
      <input type="text" id="Comp" name="Comp"><br>
      <label for="diver_id">Diver ID:</label>
      <input type="text" id="diver_id" name="diver_id"><br>
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name"><br>
      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name"><br>
      <label for="meter">Meter:</label>
      <input type="text" id="meter" name="meter"><br>
      <label for="discipline">Discipline:</label>
      <input type="text" id="discipline" name="discipline"><br>
      <label for="time">Time:</label>
      <input type="text" id="time" name="time"><br>
      <label for="country">Country:</label>
      <input type="text" id="country" name="country"><br>
      <label for="NR">NR:</label>
      <input type="text" id="NR" name="NR"><br>
      <label for="gender">Gender:</label>
      <input type="text" id="gender" name="gender"><br>
      <input type="submit" value="Send">
    </form>
  </body>
</html>